<!-- Start Category Area -->
<div class="container">
    <div class="section-title" *ngFor="let Title of sectionTitle;">
        <h2> </h2>
        <p> </p>
    </div>

    <!--<div class="row">
        <div class="col-lg-2 col-sm-6 col-md-4" *ngFor="let Content of singleCategoryBox;">
            <div class="single-category-box">
                <div class="icon">
                    <i class="{{Content.icon}}"></i>
                </div>
                <h3>{{Content.title}}</h3>
                <span>{{Content.numberOfPlaces}}</span>
                <a routerLink="/{{Content.link}}" class="link-btn"></a>
            </div>
        </div>
    </div>
  -->



        <div class="row single-category-box">
<div class="col6">   <h3> RECHERCHEZ QUELQU’UN PAR SON NOM</h3>  </div>
          <div class="col6"> <span> A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</span></div>


        </div>


</div>
<!-- End Category Area -->
