<app-navbar-style-one></app-navbar-style-one>

<!-- Start Page Title Area -->
<div class="page-footer-title-area bg-f9f9f9"   >
    <div class="container">
        <div class="page-title-content">
            <h2 style="color: #00bd9a ;"> </h2>
            <ul>
                <li style="color: #00bd9a ;"><a routerLink="/" style="color: #2a2a33;">Home</a></li>
                <li style="color: #00bd9a ;"> politique d'utilisation </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start 404 Error Area -->
<section class="error-area bg-f9f9f9 ptb-100">
    <div class="container">
        <div class="error-content">
          <h3> Politique de protection des renseignements personnels  </h3>
          <span> Date de dernière mise à jour le 10/02/2022.</span>
            <p>   Le Groupe 3737 s’engage à protéger la vie privée de nos entrepreneurs,
               our le de nos clients, Groupe 3737 de nos employés et de nos partenaires
                et à assurer la confidentialité des renseignements personnels qui nous
                 sont confiés dans le cadre de nos activités. Cette politique de protection
                  des renseignements personnels a été préparée pour décrire nos normes de collecte,
                   d'utilisation, de divulgation et de conservation de vos renseignements personnels. <br>
                    Elle détaille également les façons dont
                     nous protégeons vos renseignements personnels et votre droit d’accès à ceux
                      Notre politique s’applique à chaque fois qci. ue vous nous communiquez des renseignements personnels,
                par écrit , par téléphone , par l’intermédiaire de notre site internet autre moment .
              , de nos plateformes de média social En nous fournissant vos renseignements personnels ou en utilisant notre ou à tout site Web, vous nous signifiez votre consentement à ce que nous puissions recueillir, utiliser et divulguer les renseignements personnels qui vous concernent, conformément à la présente politique.

            </p>



              <h4>Quels renseignements personnels recueillis</h4>

              <p> Tout renseig nement concernant un individu et qui permet de l’identifier, tel que votre nom, votre adresse électronique, votre adresse postale, votre numéro de téléphone ou encore l’adresse IP de votre ordinateur. Certains des renseignements personnels que nous collect activité ons sont obligatoires aux fins de réaliser une , d’autres sont facultatifs. Les renseignements personnels obligatoires sont identifiés dans les formulaires écrits ou électroniques ou verbalement par notre personnel au moment de la collecte. Outre l es renseignements que vous nous fournissez vousmême, nous collectons aussi certains renseignements techniques de façon automatique, par exemple des renseignements sur l’utilisation de notre site Web.
                    </p>
                <h4>Quels renseignements personnels recueillis</h4>
            <a routerLink="/" class="default-btn">Back to Homepage</a>
        </div>
    </div>
</section>
<!-- End 404 Error Area -->

<app-footer-style-one></app-footer-style-one>
