<!-- Start Navbar Area -->
<div class="navbar-area ">
    <div class="vesax-responsive-nav">
        <div class="container">
            <div class="vesax-responsive-menu">
                <div class="logo">
                    <a routerLink="/"><img src="assets/img/3737.png" alt="logo"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="vesax-nav">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png" alt="logo"></a>

                <div class="collapse navbar-collapse mean-menu">

                    <ul class="navbar-nav">
                        <li class="nav-item">

                          <a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Accueil  </a>

                        </li>

                        <li class="nav-item">
                          <a routerLink="/listings/all" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">

                            Annonces</a>

                        </li>

                        <li class="nav-item">
                          <a routerLink="/contact" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Contactez-nous  </a>

                        </li>

                        <li *ngIf="user.id" class="nav-item">
                          <a routerLink={{link}} class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Profile </a>

                        </li>








                    </ul>

                      <div *ngIf="!user.id"class="others-option d-flex align-items-center">
                        <div   class="option-item">
                          <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal"><i class="flaticon-user"></i> Connexion / Inscription</span>
                          </div>


                       <!-- <div class="option-item">
                            <a routerLink="/#" class="default-btn"><i class="flaticon-more"></i> Ajouter annonces </a>
                        </div>-->
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>

            <div class="container">
                <div class="option-inner">
                    <div class="others-option">
                        <div class="option-item">
                            <form class="navbar-search-box">
                                <label><i class="flaticon-search"></i></label>
                                <input type="text" class="input-search" placeholder="What are you looking for?">
                            </form>
                        </div>

                        <div class="option-item">
                            <span data-bs-toggle="modal" data-bs-target="#loginRegisterModal"><i class="flaticon-user"></i> Connexion / Inscription</span>
                        </div>

                        <div class="option-item">
                            <a routerLink="/dashboard-add-listings" class="default-btn"><i class="flaticon-more"></i> Add Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

<!-- Start Login & Register Modal -->
<div class="modal fade loginRegisterModal" id="loginRegisterModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i class='bx bx-x'></i></button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="login" aria-selected="true">Connexion</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register" type="button" role="tab" aria-controls="register" aria-selected="true">Inscription</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel">
                    <div class="vesax-login">
                        <!--<div class="login-with-account">
                            <span>Login with</span>
                            <ul>
                                <li><a href="#" class="facebook"><i class='bx bxl-facebook'></i> Facebook</a></li>
                                <li><a href="#" class="twitter"><i class='bx bxl-twitter'></i> Twitter</a></li>
                            </ul>
                        </div>-->
                        <span class="sub-title"><span> Connexion</span></span>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="form-group">
                                <input type="text" placeholder=" Email" class="form-control" formControlName="email">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" formControlName="password">
                            </div>
                            <button type="submit" data-bs-dismiss="modal">Connexion</button>
                        </form>
                        <span class="dont-account">Vous n'avez pas de compte ? <a href="#">S'inscrire </a></span>

                    </div>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel">
                    <div class="vesax-register">
                       <!-- <div class="register-with-account">
                            <span>Register with</span>
                            <ul>
                                <li><a href="#" class="facebook"><i class='bx bxl-facebook'></i> Facebook</a></li>
                                <li><a href="#" class="twitter"><i class='bx bxl-twitter'></i> Twitter</a></li>
                            </ul>
                        </div>-->
                        <span class="sub-title"><span>Creer compte</span></span>
                        <form [formGroup]="registerForm" (ngSubmit)="signup()">
                            <div class="form-group">
                                <input type="text" placeholder="Username" class="form-control" formControlName="username">
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email" class="form-control" formControlName="email">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Password" class="form-control" formControlName="password">
                            </div>
                            <div class="form-group">
                                <input type="password" placeholder="Confirm Password" class="form-control" formControlName="password_confirmation">
                            </div>




                            <div class="add-listings-box">
                            <div class="form-group">

                              <ul class="facilities-list">
                                  <li>
                                      <label class="checkbox p-3">
                                          <input type="radio" name="role" value="Pro" formControlName="role"  >
                                          <span>Professionnel</span>

                                        </label>

                                        <label class="checkbox">
                                          <input type="radio" name="role" value="Company" formControlName="role">
                                          <span>Entreprise</span>
                                        </label>
                                  </li>


                               </ul>




                              <ul class="facilities-list">
                                  <li>
                                      <label class="checkbox p-3">
                                          <input type="checkbox" name="isTermsAccepted" value="true" formControlName="isTermsAccepted"  >
                                          <span>J’accepte et valide les <a href="/politique-d-utilisation" target="_blank">politique de confidentialité et les conditions  d'utilisations</a></span>

                                        </label>


                                  </li>


                               </ul>





                          </div></div>

                            <button type="submit">S'inscrire</button>
                        </form>
                        <span class="already-account">Vous avez déjà un compte?
                           <a href="#" >Login Now</a></span>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Login & Register Modal -->
