<!-- Start Main Banner Area -->
<div class="main-banner-area">
    <div class="container">
        <div class="main-banner-content" *ngFor="let Content of mainBannerContent;">
            <h1>{{Content.title}}
                <!-- <ngx-typed-js [strings]="['Hotels', 'Restaurants', 'Beauty', 'Fitness', 'Shopping']" [typeSpeed]="100" [loop]="true" [backSpeed]="100" [showCursor]="false">
                    <span class="typing"></span>
                </ngx-typed-js> -->
            </h1>
            <p>{{Content.paragraph}}</p>




<div class="row row-input">

                            <div class="col-5 search">

                                  <form>
                                    <div class="form-group">
                                    <label><i class="flaticon-search"></i></label>
                                    <ngx-select-dropdown  tabindex="0" [multiple]="false"
                                     [(ngModel)]="singleSelect" name="country-select"
                                     [config]="config" [options]="searchResult.Result" ></ngx-select-dropdown>

                                   </div>
                                  </form>



                               </div>

                            <div class="col-4 search">
                              <form>
                                  <div class="form-group">
                                  <label><i class="flaticon-search"></i></label>
                                  <ngx-select-dropdown  tabindex="0" [multiple]="false"
                                  placeholder="Adresse"
                                  [(ngModel)]="StateSelect" name="StateSelect"
                                  [config]="configstate" [options]="searchstate" >
                                </ngx-select-dropdown>

                                </div>
                             </form>

                            </div>

                            <div class=" searchbtn col-3  ">
                                    <div class="form-group">
                                      <div class=" submit-btn  ">
                                          <button type="submit" (click)="search()">Chercher</button>
                                      </div>
                                    </div>
                            </div>



                            </div>


<div class="row" style="margin-top: 2em;">
  <div class="col-6">
    <div class="listings-widget-area widget-right-sidebar">


        <div class="widget widget_categories">

            <ul  >
                <li >
                    <input  id="categories1" type="checkbox"  pTooltip="Nous recrutons des professionnels hautement recommandables et collaboratifs pour intervenir dans l’Initiative Appuyer les communautés noires du Canada. Nous cherchons des « Leaders de chantier » guidés par la volonté de placer le renforcement de capacités des communautés noires au cœur de leurs préoccupations. Nous sollicitons leur expertise, expérience et indépendance."   >
                    <label  style="color:white" for="PInitiative" pTooltip="Nous recrutons des professionnels hautement recommandables et collaboratifs pour intervenir dans l’Initiative Appuyer les communautés noires du Canada. Nous cherchons des « Leaders de chantier » guidés par la volonté de placer le renforcement de capacités des communautés noires au cœur de leurs préoccupations. Nous sollicitons leur expertise, expérience et indépendance."  >
                      Pour programme IACNC
                      <svg   xmlns="http://www.w3.org/2000/svg" width="26" height="26" style="fill: rgb(255, 255, 255);transform: scaleX(-1);msFilter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);"><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path><path d="M11 11h2v6h-2zm0-4h2v2h-2z"></path></svg>


                    </label>


                </li>

            </ul>
          </div>

        </div>



   </div>

          <!-- <ul class="popular-search-list">
                <li>Popular:</li>
                <li *ngFor="let List of categories;"><a routerLink="/listing/{{List.id}}" >{{List.label}}</a></li>
            </ul>-->

        </div>
    </div>


<div class="row">



</div>

















</div>
<!-- End Main Banner Area -->




