<app-navbar-style-one></app-navbar-style-one>

<!-- Start Listings Details Area -->
<section class="listings-details-area pb-70">
    <div class="listings-details-image">
        <img src="assets/img/bottin.jpg" alt="image">
        <div class="container">
            <div class="container">
                <div class="listings-details-content">
                    <span class="meta">
                      <i class="bx bx-building-house"></i>
                       Entreprise</span>

                    <h3>Bottin 3737</h3>
                    <div class="rating d-flex align-items-center">
                        <span class="bx bxs-star checked"></span>
                        <span class="bx bxs-star checked"></span>
                        <span class="bx bxs-star checked"></span>
                        <span class="bx bxs-star checked"></span>
                        <span class="bx bxs-star checked"></span>
                        <span class="rating-count">(45)</span>
                    </div>
                    <ul class="d-flex align-items-center">
                        <li class="phone-number">
                            <a href="#"><i class='bx bx-phone-call'></i> (514) 544-3737    </a>
                        </li>
                        <li class="time">
                            <i class=' bx bxs-inbox'></i>
                            <span>Courriel</span>
                            contact@groupe3737.com
                        </li>
                        <li class="location">
                            <i class='bx bx-map'></i>
                            <span>Location</span>
                            3737 Crémazie Est, Montréal, Québec, H1Z 2K4
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <ul class="share-save">
                <li>
                    <div class="share">
                        <i class='bx bx-share-alt'></i> Share
                    </div>
                    <div class="social">
                        <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-pinterest'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        <a href="#" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                    </div>
                </li>
                <li><a routerLink="/single-listings"><i class='bx bx-heart'></i> Save</a></li>
            </ul>
        </div>
    </div>
    <div class="listings-details-nav">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" href="#overview">Aperçu</a></li>
                <li class="nav-item"><a class="nav-link" href="#gallery">Galerie</a></li>
               <!--<li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#review">Review</a></li>
                <li class="nav-item"><a class="nav-link" href="#add-review">Add Review</a></li>
                -->
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="listings-details-desc">
                    <h3>Details</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                   <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                   -->
                    <h3>Service</h3>
                    <ul class="amenities-list">
                        <li><span><i class='bx bx-check'></i>Developpement des affaires</span></li>
                        <li><span><i class='bx bx-check'></i> Financement</span></li>
                        <li><span><i class='bx bx-check'></i> Ressources humaines</span></li>
                        <li><span><i class='bx bx-check'></i> Start-up</span></li>
                        <li><span><i class='bx bx-check'></i>Developpement des affaires</span></li>
                     <!--  <li><span><i class='bx bx-check'></i> Wheelchair Accessible</span></li>-->
                        <li><span><i class='bx bx-check'></i> Technologie</span></li>
                        <li><span><i class='bx bx-check'></i> Financement</span></li>
                       <!-- <li><span><i class='bx bx-check'></i> Bike Parking</span></li> -->
                        <li><span><i class='bx bx-check'></i> Start-up</span></li>
                        <!-- <li><span><i class='bx bx-check'></i> Accepts Cryptocurrency</span></li> -->
                        <li><span><i class='bx bx-check'></i> Technologie</span></li>
                    </ul>
                  <!-- <h3>Gallery</h3>-->
                  <!--   <div id="gallery">
                        <div class="gallery-slides">
                            <owl-carousel-o [options]="galleryOptions">
                                <ng-template carouselSlide *ngFor="let Image of singleImageBox;">
                                    <div class="single-image-box">
                                        <img [src]="Image.img" alt="image">
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                    <h3>Pricing</h3>
                    <div id="pricing">
                        <ul class="pricing-list">
                            <li>Pizza <span>$15</span></li>
                            <li>Burger <span>$10</span></li>
                            <li>Cool Drink <span>$12</span></li>
                            <li>Fried Rice <span>$08</span></li>
                            <li>Orange Juice <span>$05</span></li>
                        </ul>
                    </div> -->
                    <h3>Review</h3>
                    <div class="listings-review">
                        <div class="rating d-flex align-items-center">
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>
                            <span class="bx bxs-star checked"></span>

                            <span class="overall-rating">5.0</span>
                            <span class="rating-count">(5 reviews)</span>
                        </div>
                        <!--<div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="row m-0">
                                    <div class="side">
                                        <div>Cleanliness</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>4.0</div>
                                    </div>

                                    <div class="side">
                                        <div>Accuracy</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>5.0</div>
                                    </div>

                                    <div class="side">
                                        <div>Location</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>5.0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="row m-0">
                                    <div class="side">
                                        <div>Check-in</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-4"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>4.0</div>
                                    </div>

                                    <div class="side">
                                        <div>Communication</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>5.0</div>
                                    </div>

                                    <div class="side">
                                        <div>Value</div>
                                    </div>
                                    <div class="middle">
                                        <div class="bar-container">
                                            <div class="bar-5"></div>
                                        </div>
                                    </div>
                                    <div class="side right">
                                        <div>5.0</div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="write-a-review">
                        <h4>Dites aux gens ce que vous pensez.</h4>
                        <p>Aidez les autres en partageant votre expérience avec cette entreprise.</p>
                        <a routerLink="/single-listings" class="default-btn">Write A Review</a>
                    </div>
                    <!---->

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="listings-sidebar">
                    <!-- <div class="listings-widget book_listings">
                        <h3>Booking Online</h3>
                        <a routerLink="/" class="default-btn">Book Now</a>
                        <span>By <a href="#" target="_blank">Booking.com</a></span>
                    </div> -->
                    <div class="listings-widget listings_contact_details">
                        <h3>Détails</h3>
                        <ul>
                            <li><i class='bx bx-globe'></i> <a href="https:/smartegy.ca" target="_blank">groupe3737.com</a></li>
                            <li><i class='bx bx-phone-call'></i> <a href="tel:+2122791456">(514) 544-3737</a></li>
                            <li><i class='bx bx-directions'></i> <a href="#" target="_blank">Get Directions</a></li>
                            <li><i class='bx bx-map'></i> Montréal, Québec</li>
                        </ul>
                    </div>
                    <div class="listings-widget listings_author">
                        <h3>Publier par</h3>
                        <div class="author">
                            <div class="d-flex align-items-center">
                                <img src="assets/img/3737.png" alt="image">
                                <div class="title">
                                    <h4><a href="#">Groupe 3737</a></h4>
                                    <!--<span>20 Places Hosted</span>  -->
                                </div>
                            </div>
                            <div class="author-profile">
                                <div class="row align-items-center">
                                    <div class="col-lg-5 col-md-5">
                                        <a href="#" class="view-profile">Consulter  </a>
                                    </div>

                                    <div class="col-lg-7 col-md-7">
                                        <ul class="social">
                                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                            <li><a href="#" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Listings Details Area -->

<app-footer-style-one></app-footer-style-one>
