<app-user-sidemenu></app-user-sidemenu>
<!-- Start Main Content Wrapper Area -->
<div class="main-content d-flex flex-column">

 <app-user-navbar></app-user-navbar>
    <!-- Breadcrumb Area -->
    <div class="breadcrumb-area" *ngFor="let Content of breadcrumb;">
        <h1>{{Content.title}}</h1>
        <ol class="breadcrumb">
            <li class="item"><a routerLink="/">Home</a></li>
            <li class="item"><a routerLink="dashboard">{{Content.subTitle}}</a></li>
            <li class="item">{{Content.title}}</li>
        </ol>
    </div>
    <!-- End Breadcrumb Area -->

    <!-- Start -->
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="my-profile-box">
                <h3>Profile Details</h3>

                <form>
                    <div class="row">


                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">

                                <label>Username</label>
                                <input type="text" class="form-control"  [(ngModel)]="user.username" name="user.name">
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                          <div class="form-group">
                              <label>Firstname</label>
                              <input type="email" class="form-control"  [(ngModel)]="user.firstname" name="firstname"
                             >
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="form-group">
                            <label>Lastname</label>
                            <input type="email" class="form-control"  [(ngModel)]="user.lastname" name="lastname"
                           >
                        </div>
                    </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control"  [(ngModel)]="user.email" name="email">



                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control" [(ngModel)]="user.phone" name="phone">
                            </div>
                        </div>




                        <div class="col-lg-12 col-md-12 pt-3">
                            <div class="form-group">
                                <button type="submit" (click)="updateprofile()">Save Change</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="my-profile-box">
                <h3>Change Password</h3>

                <form [formGroup]="passwordForm" (ngSubmit)="  updatepassword() ">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Current Password</label>
                                <input type="password" class="form-control"   formControlName="password_current">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>New Password</label>
                                <input type="password" class="form-control"   formControlName="new_password" >
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label>Confirm New Password</label>
                                <input type="password" class="form-control" formControlName="new_confirm_password">
                            </div>
                        </div>
                        {{ password |json }}
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <button type="submit"  >Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End -->

    <div class="flex-grow-1"></div>



</div>
<!-- End Main Content Wrapper Area -->
