<!-- Start Listings Area -->
<section class="listings-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title" >

<h2 style="color:#00bd9a ;">Recherche Avancé</h2>
        </div>

         <div class="row">


            <div class="col-3">
              <div class=" listings-widget-area">
              <div class="  widget widget_filters">
              <section class="widget widget_distance">
                <h3 class="widget-title">Distance</h3>

                <ul>
                    <li>
                        <input id="distance1" type="checkbox">
                        <label for="distance1">Driving (5 mi.)</label>
                    </li>
                    <li>
                        <input id="distance2" type="checkbox">
                        <label for="distance2">Walking (1 mi.)</label>
                    </li>
                    <li>
                        <input id="distance3" type="checkbox">
                        <label for="distance3">Biking (2 mi.)</label>
                    </li>
                    <li>
                        <input id="distance4" type="checkbox">
                        <label for="distance4">Within 4 blocks</label>
                    </li>
                    <li>
                        <input id="distance5" type="checkbox">
                        <label for="distance5">Bicycle (6 mi.)</label>
                    </li>
                    <li class="hide">
                        <input id="distance6" type="checkbox">
                        <label for="distance6">Driving (10 mi.)</label>
                    </li>
                    <li class="hide">
                        <input id="distance7" type="checkbox">
                        <label for="distance7">Walking (11 mi.)</label>
                    </li> <br>
                    <li class="see-all-btn">
                        <span>See All</span>
                    </li>
                </ul>
              </section>
            </div>

          </div></div>

          <div class="col-3">
            <div class="listings-widget-area">
            <div class="widget widget_filters">
            <section class="widget widget_categories">
              <h3 class="widget-title">Categories</h3>


              <ul>
                <li>
                    <input id="categories1" type="checkbox">
                    <label for="categories1">Restaurant</label>
                </li><br>
                <li>
                    <input id="categories2" type="checkbox">
                    <label for="categories2">Hotel</label>
                </li><br>
                <li>
                    <input id="categories3" type="checkbox">
                    <label for="categories3">Beauty & Spa</label>
                </li><br>
                <li>
                    <input id="categories4" type="checkbox">
                    <label for="categories4">Fitness</label>
                </li><br>
                <li>
                    <input id="categories5" type="checkbox">
                    <label for="categories5">Shopping</label>
                </li>
                <li class="hide">
                    <input id="categories6" type="checkbox">
                    <label for="categories6">Hospital</label>
                </li>
                <li class="hide">
                    <input id="categories7" type="checkbox">
                    <label for="categories7">Events</label>
                </li>
                <li class="hide">
                    <input id="categories8" type="checkbox">
                    <label for="categories8">Clothing</label>
                </li><br>
                <li class="see-all-btn">
                    <span>See All</span>
                </li>
            </ul>
            </section>
          </div>

        </div></div>


        <div class="col-3">
          <div class=" listings-widget-area">
          <div class="  widget widget_filters">
          <section class="widget widget_features">
            <h3 class="widget-title">Ville</h3>

            <ul>
              <li>
                <input id="features1" type="checkbox">
                <label for="features1">Alberta</label>
            </li>
            <li>
                <input id="features2" type="checkbox">
                <label for="features2">Colombie-Britannique</label>
            </li>
            <li>
                <input id="features3" type="checkbox">
                <label for="features3">Île-du-Prince-Édouard</label>
            </li>
            <li>
                <input id="features4" type="checkbox">
                <label for="features4"> le Manitoba</label>
            </li>
            <li>
                <input id="features5" type="checkbox">
                <label for="features5">le Nouveau-Brunswick</label>
            </li>
            <li class="hide">
                <input id="features6" type="checkbox">
                <label for="features6">la Nouvelle-Écosse</label>
            </li>
            <li class="hide">
              <input id="features7" type="checkbox">
              <label for="features7">l'Ontario</label>
          </li>
            <li class="hide">
                <input id="features8" type="checkbox">
                <label for="features8">la Saskatchewan  </label>
            </li>
            <li class="hide">
              <input id="features9" type="checkbox">
              <label for="features9">  Terre-Neuve-et-Labrador</label>
          </li>
          <li class="hide">
            <input id="features10" type="checkbox">
            <label for="features11"> Territoires du Nord-Ouest</label>
        </li>

        <br>
        <li class="see-all-btn">
            <span>See All</span>
        </li>
            </ul>
          </section>
        </div>

      </div></div>


      <div class="col-3">
        <div class=" listings-widget-area">
        <div class="  widget widget_filters">
        <section class="widget widget_distance">
          <h3 class="widget-title">Provice</h3>

          <ul>
              <li>
                  <input id="distance1" type="checkbox">
                  <label for="distance1">Alberta</label>
              </li>
              <li>
                  <input id="distance2" type="checkbox">
                  <label for="distance2">Colombie-Britannique</label>
              </li>
              <li>
                  <input id="distance3" type="checkbox">
                  <label for="distance3">Île-du-Prince-Édouard</label>
              </li>
              <li>
                  <input id="distance4" type="checkbox">
                  <label for="distance4"> le Manitoba</label>
              </li>
              <li>
                  <input id="distance5" type="checkbox">
                  <label for="distance5">le Nouveau-Brunswick</label>
              </li>
              <li class="hide">
                  <input id="distance6" type="checkbox">
                  <label for="distance6">la Nouvelle-Écosse</label>
              </li>
              <li class="hide">
                <input id="distance7" type="checkbox">
                <label for="distance7">l'Ontario</label>
            </li>
              <li class="hide">
                  <input id="distance7" type="checkbox">
                  <label for="distance7">la Saskatchewan  </label>
              </li>
              <li class="hide">
                <input id="distance7" type="checkbox">
                <label for="distance7">  Terre-Neuve-et-Labrador</label>
            </li>
            <li class="hide">
              <input id="distance7" type="checkbox">
              <label for="distance7"> Territoires du Nord-Ouest</label>
          </li>



          <br>
              <li class="see-all-btn">
                  <span>See All</span>
              </li>
          </ul>
        </section>
      </div>

    </div></div>


         </div>

         <div class="row"  style="margin-top: 5em; margin-left:73em">
          <div class="col-4"></div>  <div class="col-4"></div>
          <div class="col-4 align-self-end   ">
           <a routerLink="/cart" class="default-btn">Chercher</a>
        </div>
         </div>
    </div>

    <div class="divider2"></div>
</section>
<!-- End Listings Area -->
